{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
  .social-icons a {
    margin: 0 10px;
    color: #000;
    font-size: 24px;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
  <div class="card my-4">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text">Hello, this is Ritankar, a tech enthusiast. This is my blogging page where I will be sharing contents about the things that interests me and drives me ahead and also about recent tech news.</p>
      <p>Always a pleasure to meet you guys :)))) </p>
      <p>Check out my website & resume below!!</p>
      <a href="" class="btn btn-danger">Visit Website!</a>
      <a href="" class="btn btn-danger">Resume</a>
    </div>
  </div>
  
  <div class="card my-4">
    <h5 class="card-header">Connect with me</h5>
    <div class="card-body social-icons">
      <a href="https://www.linkedin.com/in/ritankar-saha-8041b9289/" target="_blank" class="fab fa-linkedin"></a>
      <a href="https://github.com/ritankarsaha" target="_blank" class="fab fa-github"></a>
      <a href="https://www.instagram.com/ritankarxx/?hl=en" target="_blank" class="fab fa-instagram"></a>
      <a href="https://x.com/ritankarxx" target="_blank" class="fab fa-twitter"></a>
      <a href="https://discord.com/users/ritankarxx" target="_blank" class="fab fa-discord"></a>
      <a href="mailto:ritankar.saha786@gmail.com" target="_blank" class="fas fa-envelope"></a>
    </div>
  </div>
</div>

{% endblock sidebar %}
